.footer {
  color: white;
  background-color: $bg-color-dark;
  padding: 2.5rem 2rem;
  &-title {
    font-family: 'Shrikhand', sans-serif;
    line-height: 1.5;
  }
  &-list {
    margin-top: 1rem;
    &__item {
      line-height: 1.5;
    }
  }
  & i {
    margin-right: 0.5rem;
  }
  & .fa-utensils {
    font-size: 1.5rem;
  }
  & .fa-hands-helping {
    font-size: 1rem;
  }
}