*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  min-width: 32rem;
}

html, body {
  height: 100%;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

h2 {
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.5;
}

h3, li {
  font-size: 1.8rem;
  font-weight: 500;
}

p {
  font-size: 1.9rem;
  font-weight: 200;
}

span {
  font-size: 1.5rem;
}

.fs-4_5 {
  font-size: 4.5rem;
}

.fs-3 {
  font-size: 3rem;
}

.fs-2_8 {
  font-size: 2.8rem;
}

.fs-2 {
  font-size: 2rem;
}

.fs-1_9 {
  font-size: 1.9rem;
}

.fs-1_8 {
  font-size: 1.8rem;
}

.fs-1_7 {
  font-size: 1.7rem;
}

.fs-1_5 {
  font-size: 1.5rem;
}

.fs-1 {
  font-size: 1rem;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

@keyframes items {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounch {
  25% {
    transform: scaleX(0.7) scaleY(1.3) translateY(5rem);
    animation-timing-function: cubic-bezier(0.28, 0.46, 0.69, 0.78);
  }
  50% {
    transform: scaleX(1.3) scaleY(0.7) translateY(15.5rem);
    animation-timing-function: ease;
  }
  100% {
    transform: scaleX(1) scaleY(1) translateY(0);
  }
}
@keyframes trampoline {
  0%, 27% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(1.3) scaleY(0.7);
  }
  65%, 100% {
    transform: scaleX(1) scaleY(1);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.btn {
  box-shadow: 0px 4px 4px #e2e2e2;
  color: white;
  background: linear-gradient(354deg, #9356dc 20%, #ff79da 100%);
  border: 0;
  border-radius: 3rem;
  text-align: center;
  padding: 2rem;
  width: 250px;
  position: relative;
  z-index: 1;
}
.btn:hover {
  cursor: pointer;
}
.btn:hover .btn__bg {
  opacity: 1;
}
.btn__bg {
  box-shadow: 0px 4px 4px #303030;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(354deg, #9b63df 20%, #ff88de 100%);
  opacity: 0;
  border-radius: 3rem;
  z-index: -1;
  transition: opacity 250ms;
}

.fa-heart {
  position: absolute;
}
.fa-heart.far {
  color: #afafaf;
}
.fa-heart.fas {
  z-index: 1;
  opacity: 0;
  background: linear-gradient(354deg, #9356dc 20%, #ff79da 100%);
  -webkit-background-clip: text;
  color: transparent;
  transition: opacity 400ms ease-in;
}
.fa-heart.fas:hover {
  opacity: 1;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 6rem;
  position: relative;
}
.header__logo {
  height: 100%;
  position: relative;
}
.header__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-btn {
  color: #303030;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
}

.footer {
  color: white;
  background-color: #303030;
  padding: 2.5rem 2rem;
}
.footer-title {
  font-family: "Shrikhand", sans-serif;
  line-height: 1.5;
}
.footer-list {
  margin-top: 1rem;
}
.footer-list__item {
  line-height: 1.5;
}
.footer i {
  margin-right: 0.5rem;
}

.location {
  background-color: #e2e2e2;
  box-shadow: inset 0 0.3rem 0.1rem rgba(182, 182, 182, 0.75);
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location__icon {
  margin: 0 2rem 0 -3rem;
  padding-bottom: 0.3rem;
}

.explore {
  background-color: #f4f4f4;
  padding: 4.5rem 0 6.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.explore__title {
  width: 75%;
  line-height: 1;
  text-align: center;
}
.explore__subtitle {
  width: 85%;
  text-align: center;
  padding: 1rem 0 3rem 0;
}

.funct {
  margin: 4rem 2rem;
}
@media (min-width: 600px) {
  .funct-title {
    display: none;
  }
}
.funct-item {
  box-shadow: 0px 4px 4px #e2e2e2;
  position: relative;
  background-color: #f4f4f4;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding: 3rem;
  margin: 2rem 0rem 2rem 1.5rem;
}
@media (min-width: 600px) {
  .funct-item {
    width: 32rem;
    margin: 2rem auto;
  }
}
.funct-item__num {
  position: absolute;
  left: -1.5rem;
  top: 50%;
  transform: translate(0, -50%);
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 0.4rem 0.9rem;
}
.funct-item__icon {
  color: #898989;
  margin: 0 2rem 0 1rem;
  display: block;
}
.funct-item__description {
  display: block;
}

.resto {
  padding: 4rem 2rem;
  margin: auto;
  background-color: #f4f4f4;
  max-width: 900px;
}
.resto-wrapper {
  background-color: #f4f4f4;
}
@media (min-width: 600px) {
  .resto-list {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1.5rem;
    margin-top: 2rem;
  }
}
.resto-card {
  box-shadow: 0px 4px 4px #e2e2e2;
  overflow: hidden;
  position: relative;
  border-radius: 2rem;
  margin: 2rem 0;
}
@media (min-width: 600px) {
  .resto-card {
    margin: 0;
  }
}
.resto-card:hover {
  cursor: pointer;
}
.resto-card__img {
  object-fit: cover;
  object-position: bottom;
  min-height: 0;
  width: 100%;
  height: 20rem;
}
.resto-card__body {
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}
.resto-card__new {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #99E2D0;
  color: #1b6150;
  border-radius: 0.5rem;
}
.resto-card__icon {
  right: 3rem;
  bottom: 3rem;
}

.loader {
  display: flex;
  justify-content: center;
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(354deg, #9356dc 20%, #ff79da 100%);
  animation: loader 300ms 3550ms forwards;
}
.loader-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16rem;
}
.loader .food {
  display: inline-block;
  width: fit-content;
  animation: bounch 1000ms cubic-bezier(0.53, 0.3, 0.81, 0.71);
  animation-iteration-count: 4;
}
.loader .food--1 {
  animation-delay: 250ms;
}
.loader .food--2 {
  animation-delay: 300ms;
}
.loader .food--3 {
  animation-delay: 350ms;
}
.loader .food--4 {
  animation-delay: 400ms;
}
.loader .food--5 {
  animation-delay: 450ms;
}
.loader .food--6 {
  animation-delay: 500ms;
}
.loader .food--7 {
  animation-delay: 550ms;
}
.loader .food--8 {
  animation-delay: 600ms;
}
.loader .letter {
  display: inline-block;
  width: fit-content;
  margin-top: 6.8rem;
  font-family: "Shrikhand", "Sans serif";
  animation: trampoline 1000ms;
  animation-iteration-count: 4;
  transform-origin: 50% 100%;
}
.loader .letter--1 {
  animation-delay: 250ms;
}
.loader .letter--2 {
  animation-delay: 300ms;
}
.loader .letter--3 {
  animation-delay: 350ms;
}
.loader .letter--4 {
  animation-delay: 400ms;
}
.loader .letter--5 {
  animation-delay: 450ms;
}
.loader .letter--6 {
  animation-delay: 500ms;
}
.loader .letter--7 {
  animation-delay: 550ms;
}
.loader .letter--8 {
  animation-delay: 600ms;
}

.menu__img {
  object-fit: cover;
  object-position: bottom;
  min-height: 0;
  width: 100%;
  height: 32rem;
}
.menu-list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -6rem;
  padding: 4rem 2rem;
  background-color: #f4f4f4;
  border-radius: 4rem 4rem 0 0;
}
@media (min-width: 600px) {
  .menu-list {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
.menu-list__title {
  font-family: "Shrikhand", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-list__icon {
  position: relative;
  margin-left: 1rem;
  margin-right: 5%;
}
.menu-list__heart--1 {
  position: initial;
}
.menu-list__heart--2 {
  top: 0;
  left: 0;
}
.menu-section {
  margin-top: 3rem;
}
.menu-section__item {
  box-shadow: 0px 4px 4px #e2e2e2;
  position: relative;
  background-color: white;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  overflow: hidden;
  animation: items 700ms backwards ease-out;
}
.menu-section__item--1 {
  animation-delay: 375ms;
}
.menu-section__item--2 {
  animation-delay: 500ms;
}
.menu-section__item--3 {
  animation-delay: 625ms;
}
.menu-section__item--4 {
  animation-delay: 750ms;
}
.menu-section__item:hover {
  cursor: pointer;
}
.menu-section__item:hover .menu-check {
  width: 7rem;
}
.menu-section__item:hover .menu-check__icon {
  transform: translate(-50%, -50%) rotate(720deg);
  transition: transform 400ms;
}
.menu-section__name {
  width: 5rem;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #99E2D0;
}
.menu-check {
  position: relative;
  background: #99E2D0;
  width: 0;
  transition: width 400ms;
}
.menu-check__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2.5rem;
  color: white;
  transform: translate(-50%, -50%);
}
.menu-dish {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-right: auto;
  min-width: 0;
}
.menu-dish__description {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-dish__name {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-dish__price {
  align-self: flex-end;
  padding: 0 2rem 1rem 0;
  height: max-content;
}
.menu-btn {
  align-self: center;
  margin: 3rem;
}

/*# sourceMappingURL=style.css.map */
