*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  min-width: 340px;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

h2 {
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.5;
}

h3, li {
  font-size: 1.8rem;
  font-weight: 500;
}

p {
  font-size: 1.9rem;
  font-weight: 200;
}

span {
  font-size: 1.5rem;
}

footer h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.5;
}
footer li {
  font-weight: 400;
}

@keyframes items {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}
.btn {
  box-shadow: 0px 4px 4px #e2e2e2;
  color: white;
  background: linear-gradient(354deg, #9356dc 20%, #ff79da 100%);
  border: 0;
  border-radius: 3rem;
  text-align: center;
  padding: 2rem;
  width: 250px;
  position: relative;
  z-index: 1;
}
.btn:hover .btn__bg {
  opacity: 1;
}
.btn__bg {
  box-shadow: 0px 4px 4px #303030;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(354deg, #9b63df 20%, #ff88de 100%);
  opacity: 0;
  border-radius: 3rem;
  z-index: -1;
  transition: opacity 250ms;
}

.fa-heart {
  position: absolute;
  font-size: 3rem;
}
.fa-heart.far {
  color: #afafaf;
}
.fa-heart.fas {
  z-index: 1;
  opacity: 0;
  background: linear-gradient(354deg, #9356dc 20%, #ff79da 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 200ms;
}
.fa-heart.fas:hover {
  opacity: 1;
}

.header {
  width: 100%;
  height: 6rem;
  position: relative;
}
.header h1 {
  height: 100%;
  position: relative;
}
.header img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-btn {
  color: #303030;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
}

.footer {
  color: white;
  background-color: #303030;
  padding: 2.5rem 2rem;
}
.footer img {
  fill: white;
}
.footer ul {
  margin-top: 1rem;
}
.footer li {
  line-height: 1.5;
}
.footer i {
  margin-right: 0.5rem;
}
.footer .fa-utensils {
  font-size: 1.5rem;
}
.footer .fa-hands-helping {
  font-size: 1rem;
}

.location {
  background-color: #e2e2e2;
  box-shadow: inset 0 3px 1px rgba(182, 182, 182, 0.75);
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location i {
  margin: 0 2rem 0 -3rem;
  font-size: 1.7rem;
  padding-bottom: 3px;
}

.explore {
  background-color: #f4f4f4;
  padding: 4.5rem 0 6.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.explore > h1 {
  width: 75%;
  line-height: 1;
  text-align: center;
}
.explore > p {
  width: 85%;
  text-align: center;
  padding: 1rem 0 3rem 0;
}

.funct {
  margin: 4rem 2rem;
}
.funct li {
  box-shadow: 0px 4px 4px #e2e2e2;
  position: relative;
  background-color: #f4f4f4;
  border-radius: 2rem;
  padding: 3rem;
  margin: 2rem 0rem 2rem 1.5rem;
}
.funct span {
  position: absolute;
  left: -3.5%;
  top: 50%;
  transform: translate(0, -50%);
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 0.4rem 0.9rem;
}
.funct i {
  color: #898989;
  margin: 0 2rem 0 1rem;
}
.funct .fa-mobile-alt {
  font-size: 2rem;
}

.resto {
  padding: 4rem 2rem;
  background-color: #f4f4f4;
}
.resto-card {
  box-shadow: 0px 4px 4px #e2e2e2;
  overflow: hidden;
  position: relative;
  border-radius: 2rem;
  margin: 2rem 0;
}
.resto-card img {
  object-fit: cover;
  object-position: bottom;
  min-height: 0;
  width: 100%;
  height: 20rem;
}
.resto-card__body {
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}
.resto span {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #99E2D0;
  color: #1b6150;
  border-radius: 0.5rem;
  font-weight: 500;
}
.resto .fa-heart {
  right: 3rem;
  bottom: 3rem;
}

.menu img {
  object-fit: cover;
  object-position: bottom;
  min-height: 0;
  width: 100%;
  height: 32rem;
}
.menu-list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -6rem;
  padding: 4rem 2rem;
  background-color: #f4f4f4;
  border-radius: 4rem 4rem 0 0;
}
.menu-list .fa-heart {
  top: 4rem;
  right: 4rem;
}
.menu-section {
  margin-top: 3rem;
}
.menu-section__item {
  box-shadow: 0px 4px 4px #e2e2e2;
  position: relative;
  background-color: white;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  overflow: hidden;
  animation: items 700ms backwards ease-out;
}
.menu-section__item--1 {
  animation-delay: 375ms;
}
.menu-section__item--2 {
  animation-delay: 500ms;
}
.menu-section__item--3 {
  animation-delay: 625ms;
}
.menu-section__item:hover .menu-check {
  width: 7rem;
}
.menu-section__item:hover .menu-check__icon {
  transform: translate(-50%, -50%) rotate(720deg);
}
.menu-section__name {
  width: 5rem;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #99E2D0;
}
.menu-check {
  position: relative;
  background: #99E2D0;
  width: 0;
  transition: width 400ms;
}
.menu-check__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2.5rem;
  color: white;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: transform 400ms;
}
.menu-dish {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-right: auto;
  min-width: 0;
}
.menu-dish__description {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-dish__name {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-dish__price {
  align-self: flex-end;
  padding: 0 1rem 1rem 0;
  height: max-content;
  font-size: 1.8rem;
}
.menu-btn {
  align-self: center;
  margin: 3rem;
}

/*# sourceMappingURL=style.css.map */
