.fa-heart {
  position: absolute;
  font-size: 3rem;
  &.far {
    color: darken($bg-color-primary, 20);
  }
  &.fas {
    z-index: 1;
    opacity: 0;
    background: gradient-generator();
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 200ms;
    &:hover {
      opacity: 1;
    }
  }
}