.location {
  background-color: $bg-color;
  box-shadow: inset 0 3px 1px rgba(182, 182, 182, 0.75);
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  & i {
    margin: 0 2rem 0 -3rem;
    font-size: 1.7rem;
    padding-bottom: 3px;
  }
}

.explore {
  background-color: lighten($bg-color, 8);
  padding: 4.5rem 0 6.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > h1 {
    width: 75%;
    line-height: 1;
    text-align: center;
  }
  & > p {
    width: 85%;
    text-align: center;
    padding: 1rem 0 3rem 0;
  }
  & button {
    color: white;
    background: linear-gradient(354deg,$color-primary 1%, $color-secondary 100%);
    border: 0;
    border-radius: 3rem;
    text-align: center;
    padding: 2rem;
    width: 250px;
  }
}

.funct {
  padding: 4rem 2rem;
  & li {
    position: relative;
    background-color: lighten($bg-color, 8);
    border-radius: 2rem;
    padding: 3rem;
    margin: 2rem 1.5rem
  }
  & span {
    position: absolute;
    left: -3.5%;
    top: 50%;
    transform: translate(0,-50%);
    color: white;
    background-color: $color-primary;
    border-radius: 50%;
    padding: 0.4rem 1rem;
  }
  & i {
    color: darken($bg-color, 35);
    margin: 0 2rem 0 1rem;
  }
  & .fa-mobile-alt {
    font-size: 2rem;
  }
}