.location {
  background-color: $bg-color-primary;
  box-shadow: inset 0 3px 1px rgba(182, 182, 182, 0.75);
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &__icon {
    margin: 0 2rem 0 -3rem;
    padding-bottom: 3px;
  }
}

.explore {
  background-color: $bg-color-secondary;
  padding: 4.5rem 0 6.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > h1 {
    width: 75%;
    line-height: 1;
    text-align: center;
  }
  & > p {
    width: 85%;
    text-align: center;
    padding: 1rem 0 3rem 0;
  }
}

.funct {
  margin: 4rem 2rem;
  &-title {
    @media (min-width: $mobile-breakpoint) {
      display: none;
    }
  }
  &-item {
    @include list-item;
    padding: 3rem;
    margin: 2rem 0rem 2rem 1.5rem;
    min-width: $funct-item-width;
    @media (min-width: $mobile-breakpoint) {
      width: $funct-item-width;
      margin: 2rem auto;
    }
    &__num {
      position: absolute;
      left: -1.5rem;
      top: 50%;
      transform: translate(0,-50%);
      color: white;
      background-color: $color-primary;
      border-radius: 50%;
      padding: 0.4rem 0.9rem;
    }
    &__icon {
      color: darken($bg-color-primary, 35);
      margin: 0 2rem 0 1rem;
    }
  }
}

.resto {
  padding: 4rem 2rem;
  margin: auto;
  background-color: $bg-color-secondary;
  max-width: $resto-max-width;
  &-wrapper {
    background-color: $bg-color-secondary;
  }
  &-list{
    @media (min-width: $mobile-breakpoint) {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 1.5rem;
      margin-top: 20px;
    }
  }
  &-card{
    @include shadow;
    overflow: hidden;
    position: relative;
    border-radius: 2rem;
    margin: 2rem 0;
    @media (min-width: $mobile-breakpoint) {
      margin: 0;
    }
    &__img {
      @include img;
      height: 20rem;
    }
    &__body {
      padding: 1rem 1.5rem 1.5rem 1.5rem;
    }
    &__new {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      padding: 0.5rem 1rem;
      background-color: $bg-color-tertiary;
      color: darken($bg-color-tertiary, 50);
      border-radius: 0.5rem;
    }
  }
  & .fa-heart {
    right: 3rem;
    bottom: 3rem;
  }
}