.menu {
  & img {
    @include img;
    height: 32rem;
  }
  &-list {
    display: flex;
    flex-direction: column;
    margin-top: -6rem;
    background-color: $bg-color-secondary;
    border-radius: 4rem 4rem 0 0;
    padding: 4rem 2rem;
    position: relative;
    & .fa-heart {
      top: 4rem;
      right: 4rem;
    }
  }
  &-section {
    margin-top: 3rem;
    & li {
      @include list-item(white);
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      margin: 2rem 0;
      &:hover {
        & .menu-section__check {
          width: 60px;
        }
        & i {
          transform: translate(-50%, -50%) rotate(720deg);
        }
      } 
    }
    & .price {
      height: max-content;
      align-self: end;
      padding: 0 1rem 1rem 0;
      font-size: 1.8rem;
    }
    & p {
      display: inline;
    }
    & > p {
      border-bottom: 3px solid $color-tertiary;
      width: 5rem;
      padding-bottom: 0.5rem 
    }
    &__dish {
      padding: 1rem;
      margin-right: auto;
      flex: 1;
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__check {
      position: relative;
      width: 7rem;
      background: $bg-color-tertiary;
      width: 0;
      transition: width 700ms;
      & > i {
        position: absolute;
        transform: translate(130%, -50%) rotate(0deg);
        transition: transform 700ms;
        top: 50%;
        left: 50%;
        font-size: 2.5rem;
        color: white;
      }
    }
  }
  & .btn {
    align-self: center;
    margin: 3rem;
  }
}