.menu {
  &__img {
    @include img;
    height: 32rem;
  }
  &-list {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -6rem;
    padding: 4rem 2rem;
    background-color: $bg-color-secondary;
    border-radius: 4rem 4rem 0 0;
    @media (min-width: $mobile-breakpoint) {
      max-width: $mobile-breakpoint;
      margin-left: auto;
      margin-right: auto; 
    }
    &__title {
      font-family: 'Shrikhand', sans-serif;
    }
    &__icon {
      top: 4.5rem;
      margin-left: 1rem; 
    }
  }
  &-section {
    margin-top: 3rem;
    &__item {
      @include list-item(white);
      display: flex;
      justify-content: space-between;
      margin: 2rem 0;
      overflow: hidden;
      animation: items $item-anim-dur backwards ease-out;
      @for $i from 1 through $num-items {
        &--#{$i} {
            animation-delay: $item-anim-delay + ($item-anim-delay/2 * $i);
          }
      }
      &:hover {
        & .menu-check {
          width: 7rem;
          &__icon {
            transform: translate(-50%, -50%) rotate(720deg);
          }
        }
      } 
    }
    &__name {
      width: 5rem;
      padding-bottom: 0.5rem;
      border-bottom: 3px solid $color-tertiary;
    }
  }
  &-check {
    position: relative;
    background: $bg-color-tertiary;
    width: 0;
    transition: width $check-transition-dur;
    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 2.5rem;
      color: white;
      transform: translate(-50%, -50%) rotate(0deg);
      transition: transform $check-transition-dur;
    }
  }
  &-dish {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-right: auto;
    min-width: 0;
    &__description {
      @include ellipsis;
    }
    &__name {
      @include ellipsis;
    }
    &__price {
      align-self: flex-end;
      padding: 0 2rem 1rem 0;
      height: max-content;
    }
  }
  &-btn {
    align-self: center;
    margin: 3rem;
  }
}