@keyframes items {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounch {
  25% {
    transform: scaleX($scale-1) scaleY($scale-2) translateY(5rem);
    animation-timing-function: cubic-bezier(.28,.46,.69,.78);
  }
  50% {
    transform: scaleX($scale-2) scaleY($scale-1) translateY(15.5rem);
    animation-timing-function: ease;
  }
  
  100% {
    transform: scaleX(1) scaleY(1) translateY(0);
  }
}

@keyframes trampoline {
  0%, 27% {
      transform: scaleX(1) scaleY(1);
  }
  50% {
     transform: scaleX($scale-2) scaleY($scale-1);
  }
  65%, 100% {
      transform: scaleX(1) scaleY(1);
  }
}

@keyframes loader{
  100% {
    opacity: 0;
    z-index: -1;
  }
}