$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$btn-border-rad: 3rem;

$bg-color-primary: rgb(226, 226, 226);
$bg-color-secondary: lighten($bg-color-primary, 7);
$bg-color-dark: darken($bg-color-primary, 70);
$bg-color-tertiary: #99E2D0;

$font-logo-titles: '../fonts/Shrikhand/Shrikhand-Regular.ttf';
$font-text: '../fonts/Roboto/Roboto-Regular.ttf';

$check-transition-dur: 400ms;

$num-items: 4;
$item-anim-dur: 700ms;
$item-anim-delay: 250ms;

$scale-1: 0.7;
$scale-2: 1.3;
$num-col: 8;
$loader-anim-dur: 1000ms;
$loader-anim-initial-delay: 200ms;
$loader-anim-delay: 50ms;
$loader-anim-count: 4;
$loader-visibility-delay: $loader-anim-initial-delay + $loader-anim-delay * ($num-col - 1) + ($loader-anim-dur * ($loader-anim-count - 1));

$mobile-breakpoint: 600px;

$resto-max-width: 900px;
$funct-item-width: 32rem;