$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$btn-border-rad: 3rem;

$bg-color-primary: rgb(226, 226, 226);
$bg-color-secondary: lighten($bg-color-primary, 7);
$bg-color-dark: darken($bg-color-primary, 70);
$bg-color-tertiary: #99E2D0;

$font-logo-titles: '../fonts/Shrikhand/Shrikhand-Regular.ttf';
$font-text: '../fonts/Roboto/Roboto-Regular.ttf';

$check-transition-dur: 400ms;

$num-items: 4;
$item-anim-dur: 700ms;
$item-anim-delay: 250ms;