$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$bg-color: #eee;

$font-logo-titles: '../fonts/Shrikhand/Shrikhand-Regular.ttf';
$font-text: '../fonts/Roboto/Roboto-Regular.ttf';